Repository ArtificialSight/earfun-audio-blog, changes with the owners that CODEOWNERS names for each.
All owners: @ArtificialSight, @content-team, @seo-team, @affiliate-team, @tech-leads, @frontend-team, @data-team, @legal-team, @design-team, @devops-team, @security-team, @performance-team

CODEOWNERS:

# Code Owners for EarFun Audio Blog
# This file defines who needs to review and approve changes to different parts of the repository.
# GitHub will automatically request reviews from the appropriate code owners when PRs are created.

# === GLOBAL DEFAULTS ===
# Default reviewers for any file that doesn't have specific owners below
* @ArtificialSight

# === CONTENT & EDITORIAL ===
# All content files (reviews, guides, pages)
*.md @ArtificialSight @content-team
*.html @ArtificialSight @content-team
reviews/ @ArtificialSight @content-team @seo-team
guides/ @ArtificialSight @content-team @seo-team
best/ @ArtificialSight @content-team @seo-team
deals/ @ArtificialSight @content-team @affiliate-team

# === TECHNICAL INFRASTRUCTURE ===
# Core Jekyll configuration and layouts
_config.yml @ArtificialSight @tech-leads
_layouts/ @ArtificialSight @tech-leads @frontend-team
_includes/ @ArtificialSight @tech-leads @frontend-team
_data/ @ArtificialSight @tech-leads @data-team

# === AFFILIATE & MONETIZATION ===
# Affiliate-related components and data
_includes/affiliate-* @ArtificialSight @affiliate-team @legal-team
_includes/product-* @ArtificialSight @affiliate-team @frontend-team
_includes/price-* @ArtificialSight @affiliate-team @data-team
_data/deals* @ArtificialSight @affiliate-team @data-team
for-brands.md @ArtificialSight @affiliate-team @legal-team

# === STYLING & DESIGN ===
# CSS and design assets
assets/css/ @ArtificialSight @frontend-team @design-team
*.css @ArtificialSight @frontend-team @design-team
assets/images/ @ArtificialSight @design-team @content-team
*.svg @ArtificialSight @design-team
*.png @ArtificialSight @design-team
*.jpg @ArtificialSight @design-team

# === SEO & ANALYTICS ===
# SEO-critical files require SEO team approval
index.html @ArtificialSight @seo-team @content-team
404.html @ArtificialSight @seo-team @frontend-team
_includes/schema* @ArtificialSight @seo-team @tech-leads

# === AUTOMATION & CI ===
# GitHub workflows and automation
.github/ @ArtificialSight @tech-leads @devops-team
*.yml @ArtificialSight @tech-leads
*.yaml @ArtificialSight @tech-leads
package.json @ArtificialSight @tech-leads @frontend-team
Gemfile* @ArtificialSight @tech-leads

# === DOCUMENTATION & GOVERNANCE ===
# Project governance and documentation
README.md @ArtificialSight @tech-leads @content-team
CONTRIBUTING.md @ArtificialSight @tech-leads @content-team
CODEOWNERS @ArtificialSight @tech-leads

# === SECURITY & COMPLIANCE ===
# Security-sensitive files
.github/workflows/ @ArtificialSight @tech-leads @security-team
_config.yml @ArtificialSight @tech-leads @security-team
contact* @ArtificialSight @legal-team @content-team

# === PERFORMANCE CRITICAL ===
# Files that significantly impact site performance
_layouts/default.html @ArtificialSight @tech-leads @performance-team
assets/css/main.css @ArtificialSight @frontend-team @performance-team

# ============================================================================
# TEAM DEFINITIONS & RESPONSIBILITIES
# ============================================================================

# @tech-leads - Senior developers, technical architecture decisions
# @frontend-team - HTML/CSS/JS, user interface, responsive design
# @content-team - Editorial content, product reviews, writing quality
# @seo-team - Search optimization, structured data, meta tags
# @affiliate-team - Monetization strategy, affiliate links, conversion optimization
# @design-team - Visual design, branding, images, user experience
# @data-team - Data files, product information, pricing, availability
# @legal-team - Compliance, disclosures, terms, privacy
# @security-team - Security reviews, vulnerability management
# @performance-team - Site speed, Core Web Vitals, optimization
# @devops-team - CI/CD, deployment, infrastructure

# ============================================================================
# REVIEW REQUIREMENTS BY CHANGE TYPE
# ============================================================================

# CRITICAL CHANGES (require 2+ approvals):
# - _config.yml modifications
# - Default layout changes  
# - Affiliate infrastructure
# - Security-related files

# STANDARD CHANGES (require 1 approval):
# - Content updates
# - CSS styling
# - New features
# - Bug fixes

# FAST-TRACK CHANGES (can be self-approved by code owners):
# - Typo fixes
# - Minor content updates
# - Image optimizations
# - Documentation updates

Earfun free pro 3.jpg
  assets/images/products/Earfun free pro 3.jpg
Owners: @ArtificialSight, @design-team

Earfun free pro 3.jpg
  assets/Earfun free pro 3.jpg
Owners: @ArtificialSight, @design-team

EarFun UBOOM® X.jpg
  assets/EarFun UBOOM® X.jpg
Owners: @ArtificialSight, @design-team

Earfun Air pro 3.png
  assets/Earfun Air pro 3.png
Owners: @ArtificialSight, @design-team

Fix image routing - update all hardcoded /assets/ paths to use Jekyll baseurl for GitHub Pages compatibility
  _includes/advanced-badges.html
  _includes/social-proof-badges.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

Add copilot instructions for development guidelines
  .github/copilot-instructions.md
Owners: @ArtificialSight, @tech-leads, @devops-team

Reorganize product images: Create /assets/images/products/ structure with hyphenated naming convention, update all references to use Jekyll baseurl
  assets/images/products/air-pro-3.jpg
  assets/images/products/free-pro-3.jpg
  assets/images/products/tune-pro.jpg
  assets/images/products/uboom-x.jpg
  assets/images/products/wave-pro.svg
Owners: @ArtificialSight, @design-team

Fix Jekyll image rendering: Remove Liquid syntax from YAML and add relative_url filters to templates
  _data/products.yml
  _layouts/review.html
  best/earfun-headphones-and-speakers.md
  index.html
  reviews.md
Owners: @ArtificialSight, @tech-leads, @frontend-team, @content-team, @seo-team

Major design improvements: Professional styling, better image sizing, responsive design, and modern UI elements
  assets/css/main.css
Owners: @ArtificialSight, @frontend-team, @performance-team

Final design polish: Add product badges, descriptions, and refined card styling
  assets/css/main.css
  index.html
Owners: @ArtificialSight, @frontend-team, @performance-team, @seo-team, @content-team

chore(dev): add Gemfile for local Jekyll build and update AI agent instructions
  Gemfile
Owners: @ArtificialSight, @tech-leads

Checkpoint from VS Code for coding agent session
  _layouts/default.html
  assets/css/main.css
  earbud-maintenance.html
  earfun-air-pro-3.html
  earfun-openjump.html
  earfun-story.html
  earfun-tune-pro.html
  earfun-uboom-x.html
  earfun-wave-pro.html
  how-anc-works.html
  ip-ratings.html
  style.css
Owners: @ArtificialSight, @tech-leads, @performance-team, @frontend-team, @content-team, @design-team

Visual polish: lazy-load + dimensions on images, responsive card tweaks, relative links, progressive image defaults
  _layouts/default.html
  _layouts/review.html
  assets/css/main.css
  index.html
Owners: @ArtificialSight, @tech-leads, @performance-team, @frontend-team, @seo-team, @content-team

Center headings: prevent unintended right alignment; center review header and generic h1; minor container alignment safeguards
  assets/css/main.css
Owners: @ArtificialSight, @frontend-team, @performance-team

CSS: Enforce centered alignment for all h1 globally (block, 100% width, no float)
  assets/css/main.css
Owners: @ArtificialSight, @frontend-team, @performance-team

Scope review grid to review pages; add body.review; center hero/main containers for ultrawide; prevent right-drift
  _layouts/default.html
  assets/css/main.css
Owners: @ArtificialSight, @tech-leads, @performance-team, @frontend-team

Move FAQ to bottom; center alignment + constrained width; refined spacing for readability
  assets/css/main.css
  index.html
Owners: @ArtificialSight, @frontend-team, @performance-team, @seo-team, @content-team

FAQ UX: move to bottom, add anchor TOC, Back to Top, and alignment polish
  _layouts/default.html
  assets/css/main.css
  index.html
Owners: @ArtificialSight, @tech-leads, @performance-team, @frontend-team, @seo-team, @content-team

UX: smooth anchor scrolling, anchor offsets, :target highlight, and .visually-hidden utility for FAQ navigation
  assets/css/main.css
Owners: @ArtificialSight, @frontend-team, @performance-team

Fix: remove white gap below hero (zero hero margin-bottom, tighten next section margin)
  assets/css/main.css
Owners: @ArtificialSight, @frontend-team, @performance-team

Fix: eliminate white gap under hero by removing duplicate .hero block and tightening adjacent section spacing
  assets/css/main.css
Owners: @ArtificialSight, @frontend-team, @performance-team

UX: tighten hero top spacing and ensure hero H1 is white for contrast
  assets/css/main.css
Owners: @ArtificialSight, @frontend-team, @performance-team

earfun-wave-pro.jpg
  assets/images/products/earfun-wave-pro.jpg
Owners: @ArtificialSight, @design-team

Fix: Wave Pro sidebar image + suppress homepage breadcrumb + tighten hero spacing and repair CSS
  _layouts/default.html
  assets/css/main.css
  index.html
  reviews.md
  reviews/earfun-wave-pro.md
Owners: @ArtificialSight, @tech-leads, @performance-team, @frontend-team, @seo-team, @content-team

Wave Pro: switch to review layout, add rating & sidebar image + SVG visibility styling
  assets/css/main.css
  reviews/earfun-wave-pro.md
Owners: @ArtificialSight, @frontend-team, @performance-team, @content-team, @seo-team

Fix: correct Wave Pro review_url to trailing slash permalink
  _data/products.yml
Owners: @ArtificialSight, @tech-leads

Wave Pro: switch to JPG asset + border styling for product images
  _data/products.yml
  assets/css/main.css
  reviews/earfun-wave-pro.md
Owners: @ArtificialSight, @tech-leads, @frontend-team, @performance-team, @content-team, @seo-team

Add full EarFun Air Pro 3 review and update routing
  _data/products.yml
  _reviews/earfun-air-pro-3.md
  earfun-air-pro-3.html
Owners: @ArtificialSight, @tech-leads, @content-team

Perf: add WebP responsive images, hero preload, cache-busting version params, review sidebar picture
  _layouts/default.html
  _layouts/review.html
  assets/images/products/Earfun free pro 3.webp
  assets/images/products/air-pro-3.webp
  assets/images/products/air-pro-4.webp
  assets/images/products/earfun-wave-pro.webp
  assets/images/products/free-pro-3.webp
  assets/images/products/tune-pro.webp
  assets/images/products/uboom-x.webp
  index.html
Owners: @ArtificialSight, @tech-leads, @performance-team, @frontend-team, @design-team, @content-team, @seo-team
