Repository ArtificialSight/earfun-audio-blog, changes with the owners that CODEOWNERS names for each.
All owners: @ArtificialSight, @content-team, @seo-team, @affiliate-team, @tech-leads, @frontend-team, @data-team, @legal-team, @design-team, @devops-team, @security-team, @performance-team

Create index.md
  best/index.md
Owners: @ArtificialSight, @content-team, @seo-team

Create index.md
  guides/index.md
Owners: @ArtificialSight, @content-team, @seo-team

fix(baseurl): use relative_url for all internal links in nav, breadcrumbs, and buttonsfix(baseurl): use relative_url for all internal links in nav, breadcrumbs, and buttonsUpdate default.html
  _layouts/default.html
Owners: @ArtificialSight, @tech-leads, @performance-team

fix(baseurl): use relative_url for internal links in related-products.htmlfix(baseurl): use relative_url for internal links in related-products.htmlUpdate related-products.html
  _includes/related-products.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

fix(baseurl): use relative_url for internal links in guides/index.mdUpdate index.md
  guides/index.md
Owners: @ArtificialSight, @content-team, @seo-team

fix(seo): ensure sitemap.xml is generated, configured, and linked in footerfix(seo): ensure sitemap.xml is generated, configured, and linked in footerUpdate default.html
  _layouts/default.html
Owners: @ArtificialSight, @tech-leads, @performance-team

fix(affiliate): add rel="sponsored noopener" to affiliate button templatefix(affiliate): add rel="sponsored noopener" to affiliate button templateUpdate affiliate-button.html
  _includes/affiliate-button.html
Owners: @ArtificialSight, @affiliate-team, @legal-team

fix(affiliate): add rel="sponsored noopener" to product-purchase-box templateUpdate product-purchase-box.html
  _includes/product-purchase-box.html
Owners: @ArtificialSight, @affiliate-team, @frontend-team

fix(affiliate): add rel="sponsored noopener" to where-to-buy templateUpdate where-to-buy.html
  _includes/where-to-buy.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

fix(schema): add FAQ structured data to homepage for rich resultsfix(schema): add FAQ structured data to homepage for rich resultsUpdate index.html
  index.html
Owners: @ArtificialSight, @seo-team, @content-team

fix(schema): add Product structured data to review cardsUpdate review-card.html
  _includes/review-card.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

fix(schema): add Product structured data to product purchase boxUpdate product-purchase-box.html
  _includes/product-purchase-box.html
Owners: @ArtificialSight, @affiliate-team, @frontend-team

fix(schema): add Product and Review structured data to Air Pro 3 pageUpdate earfun-air-pro-3.html
  earfun-air-pro-3.html
Owners: @ArtificialSight, @content-team

a11y: add branded 404.html for broken URLs.Update 404.html
  404.html
Owners: @ArtificialSight, @seo-team, @frontend-team

seo: enable jekyll-feed plugin and add RSS/Atom link to layout.seo: enable jekyll-feed plugin and add RSS/Atom link to layout.Update default.html
  _layouts/default.html
Owners: @ArtificialSight, @tech-leads, @performance-team

pwa: create favicon directory structurepwa: create favicon directory and initial structureCreate favicon-32x32.png
  assets/favicons/favicon-32x32.png
Owners: @ArtificialSight, @design-team

Create apple-touch-icon.png
  assets/favicons/apple-touch-icon.png
Owners: @ArtificialSight, @design-team

Create android-chrome-192x192.png
  assets/favicons/android-chrome-192x192.png
Owners: @ArtificialSight, @design-team

Create site.webmanifest
  site.webmanifest
Owners: @ArtificialSight

fix(contact): correct press kit URL and add press-kit pagefix(contact): correct press kit URL and add press-kit pageUpdate contact.mdcontact.md
  contact.mdcontact.md
Owners: @ArtificialSight, @legal-team, @content-team

feature: configure pagination for reviews archivefeature: configure pagination for reviews archive (paginate: 10, paginate_path: /reviews/page:num/)Update _config.yml
  _config.yml
Owners: @ArtificialSight, @tech-leads, @security-team

feature: enable pagination for review archiveUpdate reviews.md
  reviews.md
Owners: @ArtificialSight, @content-team

feat(press-kit): add comprehensive press kit pagefeat(press-kit): add comprehensive press kit pageCreate index.md
  press-kit/index.md
Owners: @ArtificialSight, @content-team

feat: add /best/ hub pagefeat(nav-hubs): add Best Of hub page at /best/feat(nav-hubs): add Best Of hub page at /best/index.mdCreate index.md
  best/index.md
Owners: @ArtificialSight, @content-team, @seo-team

feat(nav-hubs): add Guides hub page at /guides/Create index.md
  guides/index.md
Owners: @ArtificialSight, @content-team, @seo-team

feat(seo): add jekyll-seo-tag/sitemap/feed - enable {% seo %} in default.htmlfeat(seo): add jekyll-seo-tag/sitemap/feedfeat(seo): add jekyll-seo-tag/sitemap/feedUpdate default.html
  _layouts/default.html
Owners: @ArtificialSight, @tech-leads, @performance-team

fix(presskit): add Press Kit page/assets and baseurl-safe linksfix(presskit): add Press Kit page/assets and baseurl-safe linksCreate index.md
  press-kit/index.md
Owners: @ArtificialSight, @content-team

fix(presskit): update Contact page Press Kit link to use baseurl-safe relative_url filterUpdate contact.mdcontact.md
  contact.mdcontact.md
Owners: @ArtificialSight, @legal-team, @content-team

chore(affiliate): mark affiliate links as sponsoredUpdate earfun-air-pro-4.md
  reviews/earfun-air-pro-4.md
Owners: @ArtificialSight, @content-team, @seo-team

feat: add robots.txtfeat: add robots.txtCreate robots.txt
  robots.txt
Owners: @ArtificialSight

fix(nav): use relative_url for Guides link in 404 pagefix(nav): use relative_url for Guides link in 404 pageUpdate 404.html
  404.html
Owners: @ArtificialSight, @seo-team, @frontend-team

fix(nav): use relative_url for Guides link in FAQ schemaUpdate faq-schema.html
  _includes/faq-schema.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

feat(images): add responsive hero image templatefeat(images): add responsive hero image templatefeat(images): add responsive hero image templateCreate responsive-hero-image.html
  _includes/responsive-hero-image.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

a11y: landmark roles and skip link enhancements in layout/navigationa11y: landmark roles and skip link enhancements in layout/navigationUpdate default.html
  _layouts/default.html
Owners: @ArtificialSight, @tech-leads, @performance-team

feat(images): add responsive product image templatefeat(images): add responsive product image templateCreate responsive-product-image.html
  _includes/responsive-product-image.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

perf(images): update review-card to use responsive image templateperf(images): update review-card to use responsive image templateUpdate review-card.html
  _includes/review-card.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

feat(schema): add Product/Review JSON-LDfeat(schema): add Product/Review JSON-LDUpdate review-card.html
  _includes/review-card.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

fix(nav): remove duplicate Deals link from header navigation.fix(nav): remove duplicate Deals link from header navigationUpdate default.html
  _layouts/default.html
Owners: @ArtificialSight, @tech-leads, @performance-team

fix(url): normalize url and baseurl and convert all internal links to relative_urlfix(url): normalize url and baseurl and convert all internal links to relative_urlUpdate _config.yml
  _config.yml
Owners: @ArtificialSight, @tech-leads, @security-team

chore(urls): use Jekyll url filters consistently in review-card.htmlchore(urls): use Jekyll url filters consistently in review-card.htmlUpdate review-card.html
  _includes/review-card.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

CODEOWNERS:

# Code Owners for EarFun Audio Blog
# This file defines who needs to review and approve changes to different parts of the repository.
# GitHub will automatically request reviews from the appropriate code owners when PRs are created.

# === GLOBAL DEFAULTS ===
# Default reviewers for any file that doesn't have specific owners below
* @ArtificialSight

# === CONTENT & EDITORIAL ===
# All content files (reviews, guides, pages)
*.md @ArtificialSight @content-team
*.html @ArtificialSight @content-team
reviews/ @ArtificialSight @content-team @seo-team
guides/ @ArtificialSight @content-team @seo-team
best/ @ArtificialSight @content-team @seo-team
deals/ @ArtificialSight @content-team @affiliate-team

# === TECHNICAL INFRASTRUCTURE ===
# Core Jekyll configuration and layouts
_config.yml @ArtificialSight @tech-leads
_layouts/ @ArtificialSight @tech-leads @frontend-team
_includes/ @ArtificialSight @tech-leads @frontend-team
_data/ @ArtificialSight @tech-leads @data-team

# === AFFILIATE & MONETIZATION ===
# Affiliate-related components and data
_includes/affiliate-* @ArtificialSight @affiliate-team @legal-team
_includes/product-* @ArtificialSight @affiliate-team @frontend-team
_includes/price-* @ArtificialSight @affiliate-team @data-team
_data/deals* @ArtificialSight @affiliate-team @data-team
for-brands.md @ArtificialSight @affiliate-team @legal-team

# === STYLING & DESIGN ===
# CSS and design assets
assets/css/ @ArtificialSight @frontend-team @design-team
*.css @ArtificialSight @frontend-team @design-team
assets/images/ @ArtificialSight @design-team @content-team
*.svg @ArtificialSight @design-team
*.png @ArtificialSight @design-team
*.jpg @ArtificialSight @design-team

# === SEO & ANALYTICS ===
# SEO-critical files require SEO team approval
index.html @ArtificialSight @seo-team @content-team
404.html @ArtificialSight @seo-team @frontend-team
_includes/schema* @ArtificialSight @seo-team @tech-leads

# === AUTOMATION & CI ===
# GitHub workflows and automation
.github/ @ArtificialSight @tech-leads @devops-team
*.yml @ArtificialSight @tech-leads
*.yaml @ArtificialSight @tech-leads
package.json @ArtificialSight @tech-leads @frontend-team
Gemfile* @ArtificialSight @tech-leads

# === DOCUMENTATION & GOVERNANCE ===
# Project governance and documentation
README.md @ArtificialSight @tech-leads @content-team
CONTRIBUTING.md @ArtificialSight @tech-leads @content-team
CODEOWNERS @ArtificialSight @tech-leads

# === SECURITY & COMPLIANCE ===
# Security-sensitive files
.github/workflows/ @ArtificialSight @tech-leads @security-team
_config.yml @ArtificialSight @tech-leads @security-team
contact* @ArtificialSight @legal-team @content-team

# === PERFORMANCE CRITICAL ===
# Files that significantly impact site performance
_layouts/default.html @ArtificialSight @tech-leads @performance-team
assets/css/main.css @ArtificialSight @frontend-team @performance-team

# ============================================================================
# TEAM DEFINITIONS & RESPONSIBILITIES
# ============================================================================

# @tech-leads - Senior developers, technical architecture decisions
# @frontend-team - HTML/CSS/JS, user interface, responsive design
# @content-team - Editorial content, product reviews, writing quality
# @seo-team - Search optimization, structured data, meta tags
# @affiliate-team - Monetization strategy, affiliate links, conversion optimization
# @design-team - Visual design, branding, images, user experience
# @data-team - Data files, product information, pricing, availability
# @legal-team - Compliance, disclosures, terms, privacy
# @security-team - Security reviews, vulnerability management
# @performance-team - Site speed, Core Web Vitals, optimization
# @devops-team - CI/CD, deployment, infrastructure

# ============================================================================
# REVIEW REQUIREMENTS BY CHANGE TYPE
# ============================================================================

# CRITICAL CHANGES (require 2+ approvals):
# - _config.yml modifications
# - Default layout changes  
# - Affiliate infrastructure
# - Security-related files

# STANDARD CHANGES (require 1 approval):
# - Content updates
# - CSS styling
# - New features
# - Bug fixes

# FAST-TRACK CHANGES (can be self-approved by code owners):
# - Typo fixes
# - Minor content updates
# - Image optimizations
# - Documentation updates
