Repository ArtificialSight/earfun-audio-blog, changes with the owners that CODEOWNERS names for each.
All owners: @ArtificialSight, @content-team, @seo-team, @affiliate-team, @tech-leads, @frontend-team, @data-team, @legal-team, @design-team, @devops-team, @security-team, @performance-team

Include breadcrumb navigation in default layoutInclude breadcrumb navigation in default layoutUpdate default.html
  _layouts/default.html
Owners: @ArtificialSight, @tech-leads, @performance-team

Update index.md
  guides/index.md
Owners: @ArtificialSight, @content-team, @seo-team

Add hub pages for /guides/ and /best/Update index.md
  best/index.md
Owners: @ArtificialSight, @content-team, @seo-team

Fix For Brands Contact Us CTA (baseurl-safe) for GitHub Pages.Fix For Brands Contact Us CTA (baseurl-safe) for GitHub Pages.Update for-brands.md
  for-brands.md
Owners: @ArtificialSight, @affiliate-team, @legal-team

feat(data): add structured product data with table fieldsfeat(data): add structured product data with table fieldsUpdate products.yml
  _data/products.yml
Owners: @ArtificialSight, @tech-leads

Convert homepage comparison to semantic HTML table for accessibility.Update index.html
  index.html
Owners: @ArtificialSight, @seo-team, @content-team

Add rel="noopener" to all external links and rel="sponsored" to affiliate links.Add rel="noopener" to all external links and rel="sponsored" to affiliate links.Update index.html
  index.html
Owners: @ArtificialSight, @seo-team, @content-team

Add Product JSON-LD structured data to homepage for SEO rich results.Add Product JSON-LD structured data to homepage for SEO rich results.Update index.html
  index.html
Owners: @ArtificialSight, @seo-team, @content-team

update index.htmlperf(images): add responsive picture blocks with explicit dimensionsUpdate index.html
  index.html
Owners: @ArtificialSight, @seo-team, @content-team

Ensure sitemap.xml and feed.xml are enabled and head meta included.Ensure sitemap.xml and feed.xml are enabled and head meta includedUpdate default.html
  _layouts/default.html
Owners: @ArtificialSight, @tech-leads, @performance-team

Convert homepage product comparison to semantic, accessible HTML table.Convert homepage product comparison to semantic, accessible HTML table.Update index.html
  index.html
Owners: @ArtificialSight, @seo-team, @content-team

Fix Jekyll include syntax error causing build failureFix Jekyll include syntax error in index.htmlRefactor product and post image handling
  index.html
Owners: @ArtificialSight, @seo-team, @content-team

feat: Complete design overhaul with modern CSS stylingRefactor CSS variables and styles for consistency
  assets/styles.css
Owners: @ArtificialSight, @frontend-team, @design-team

Enhance premium earbuds section with product showcase and buying guideRevamp reviews layout and content structure
  reviews.md
Owners: @ArtificialSight, @content-team

Fix product card rendering loop with correct syntaxRefactor product card structure and update links
  index.html
Owners: @ArtificialSight, @seo-team, @content-team

Update products.yml with proper structure for homepage cardsRevise EarFun products data structure and details
  _data/products.yml
Owners: @ArtificialSight, @tech-leads

Hide mobile nav links when collapsed
  _layouts/default.html
  assets/js/main.js
  assets/styles.css
Owners: @ArtificialSight, @tech-leads, @performance-team, @frontend-team, @design-team

Integrate Codex AI updates: Add main.css, update Jekyll layout, migrate legacy pages
  _layouts/default.html
  assets/css/main.css
  bluetooth-codecs.html
  choosing-earbuds.html
Owners: @ArtificialSight, @tech-leads, @performance-team, @frontend-team, @content-team

Update image references to use official EarFun URLs
  _includes/as-seen-on-bar.html
  earfun-air-pro-3.html
  earfun-tune-pro.html
  earfun-uboom-x.html
Owners: @ArtificialSight, @tech-leads, @frontend-team, @content-team

Revert image links to local assets for reliable GitHub Pages display
  _includes/as-seen-on-bar.html
  earfun-air-pro-3.html
  earfun-tune-pro.html
  earfun-uboom-x.html
Owners: @ArtificialSight, @tech-leads, @frontend-team, @content-team

Update image references to use /earfun-audio-blog/assets/ for GitHub Pages compatibility
  _includes/as-seen-on-bar.html
  earfun-air-pro-3.html
  earfun-tune-pro.html
  earfun-uboom-x.html
Owners: @ArtificialSight, @tech-leads, @frontend-team, @content-team

Use Jekyll baseurl for all image references for GitHub Pages compatibility
  _includes/as-seen-on-bar.html
  earfun-air-pro-3.html
  earfun-tune-pro.html
  earfun-uboom-x.html
Owners: @ArtificialSight, @tech-leads, @frontend-team, @content-team

Fix missing image files - add placeholders for badges and missing logo
  _includes/as-seen-on-bar.html
  assets/109ryeuh1e4ffsumekj.jpg
  assets/images/badges/best-audio-2024.svg
  assets/images/badges/consumer-choice.svg
  assets/images/badges/expert-verified.svg
  assets/images/badges/gdpr-compliant.svg
  assets/images/badges/no-sponsored.svg
  assets/images/badges/ssl-secured.svg
  earfun-air-pro-3.html
  earfun-tune-pro.html
  earfun-uboom-x.html
Owners: @ArtificialSight, @tech-leads, @frontend-team, @design-team, @content-team

Change logo and default image paths in _config.yml
  _config.yml
Owners: @ArtificialSight, @tech-leads, @security-team

Delete assets/favicons/apple-touch-icon.png
  assets/favicons/apple-touch-icon.png
Owners: @ArtificialSight, @design-team

Delete assets/861jmbhfuewcwetfhkg.jpg
  assets/861jmbhfuewcwetfhkg.jpg
Owners: @ArtificialSight, @design-team

Delete assets/109ryeuh1e4ffsumekj.jpg
  assets/109ryeuh1e4ffsumekj.jpg
Owners: @ArtificialSight, @design-team

Rename 289vccpbqag.png to Earfun air pro 3.png
  assets/289vccpbqag.png
  assets/Earfun air pro 3.png
Owners: @ArtificialSight, @design-team

Delete assets/earfun-wave-pro.jpg
  assets/earfun-wave-pro.jpg
Owners: @ArtificialSight, @design-team

Delete assets/hero-earfun-products.jpg
  assets/hero-earfun-products.jpg
Owners: @ArtificialSight, @design-team

Earfun Air Pro 4 image
  assets/Earfun Air Pro 4.jpg
Owners: @ArtificialSight, @design-team

Add .gitkeep to track products directory
  assets/images/products/.gitkeep
Owners: @ArtificialSight, @design-team, @content-team

Update image path for EarFun Air Pro 4
  _data/products.yml
Owners: @ArtificialSight, @tech-leads

Move and rename Earfun Air Pro 4.jpg to assets/images/products/air-pro-4.jpg
  assets/images/products/air-pro-4.jpg
Owners: @ArtificialSight, @design-team

Delete assets/Earfun Air Pro 4.jpg
  assets/Earfun Air Pro 4.jpg
Owners: @ArtificialSight, @design-team

Update image paths to new organized structureUpdate image paths and remove old review sections
  reviews/earfun-air-pro-4.md
Owners: @ArtificialSight, @content-team, @seo-team

Delete reviews/earfun-air-pro-4.md
  reviews/earfun-air-pro-4.md
Owners: @ArtificialSight, @content-team, @seo-team

fix: update Air Pro 4 review URLs to reflect proper Jekyll output pathfix: update Air Pro 4 review URLs to reflect proper Jekyll output pathUpdate review URL and features in products.yml
  _data/products.yml
Owners: @ArtificialSight, @tech-leads

fix: update Air Pro 4 review URL in reviews.md pageRefactor review metadata and product sections
  reviews.md
Owners: @ArtificialSight, @content-team

fix: update Air Pro 4 URL in best earbuds pageFix link typo in earfun-earbuds.md
  best/earfun-earbuds.md
Owners: @ArtificialSight, @content-team, @seo-team

CODEOWNERS:

# Code Owners for EarFun Audio Blog
# This file defines who needs to review and approve changes to different parts of the repository.
# GitHub will automatically request reviews from the appropriate code owners when PRs are created.

# === GLOBAL DEFAULTS ===
# Default reviewers for any file that doesn't have specific owners below
* @ArtificialSight

# === CONTENT & EDITORIAL ===
# All content files (reviews, guides, pages)
*.md @ArtificialSight @content-team
*.html @ArtificialSight @content-team
reviews/ @ArtificialSight @content-team @seo-team
guides/ @ArtificialSight @content-team @seo-team
best/ @ArtificialSight @content-team @seo-team
deals/ @ArtificialSight @content-team @affiliate-team

# === TECHNICAL INFRASTRUCTURE ===
# Core Jekyll configuration and layouts
_config.yml @ArtificialSight @tech-leads
_layouts/ @ArtificialSight @tech-leads @frontend-team
_includes/ @ArtificialSight @tech-leads @frontend-team
_data/ @ArtificialSight @tech-leads @data-team

# === AFFILIATE & MONETIZATION ===
# Affiliate-related components and data
_includes/affiliate-* @ArtificialSight @affiliate-team @legal-team
_includes/product-* @ArtificialSight @affiliate-team @frontend-team
_includes/price-* @ArtificialSight @affiliate-team @data-team
_data/deals* @ArtificialSight @affiliate-team @data-team
for-brands.md @ArtificialSight @affiliate-team @legal-team

# === STYLING & DESIGN ===
# CSS and design assets
assets/css/ @ArtificialSight @frontend-team @design-team
*.css @ArtificialSight @frontend-team @design-team
assets/images/ @ArtificialSight @design-team @content-team
*.svg @ArtificialSight @design-team
*.png @ArtificialSight @design-team
*.jpg @ArtificialSight @design-team

# === SEO & ANALYTICS ===
# SEO-critical files require SEO team approval
index.html @ArtificialSight @seo-team @content-team
404.html @ArtificialSight @seo-team @frontend-team
_includes/schema* @ArtificialSight @seo-team @tech-leads

# === AUTOMATION & CI ===
# GitHub workflows and automation
.github/ @ArtificialSight @tech-leads @devops-team
*.yml @ArtificialSight @tech-leads
*.yaml @ArtificialSight @tech-leads
package.json @ArtificialSight @tech-leads @frontend-team
Gemfile* @ArtificialSight @tech-leads

# === DOCUMENTATION & GOVERNANCE ===
# Project governance and documentation
README.md @ArtificialSight @tech-leads @content-team
CONTRIBUTING.md @ArtificialSight @tech-leads @content-team
CODEOWNERS @ArtificialSight @tech-leads

# === SECURITY & COMPLIANCE ===
# Security-sensitive files
.github/workflows/ @ArtificialSight @tech-leads @security-team
_config.yml @ArtificialSight @tech-leads @security-team
contact* @ArtificialSight @legal-team @content-team

# === PERFORMANCE CRITICAL ===
# Files that significantly impact site performance
_layouts/default.html @ArtificialSight @tech-leads @performance-team
assets/css/main.css @ArtificialSight @frontend-team @performance-team

# ============================================================================
# TEAM DEFINITIONS & RESPONSIBILITIES
# ============================================================================

# @tech-leads - Senior developers, technical architecture decisions
# @frontend-team - HTML/CSS/JS, user interface, responsive design
# @content-team - Editorial content, product reviews, writing quality
# @seo-team - Search optimization, structured data, meta tags
# @affiliate-team - Monetization strategy, affiliate links, conversion optimization
# @design-team - Visual design, branding, images, user experience
# @data-team - Data files, product information, pricing, availability
# @legal-team - Compliance, disclosures, terms, privacy
# @security-team - Security reviews, vulnerability management
# @performance-team - Site speed, Core Web Vitals, optimization
# @devops-team - CI/CD, deployment, infrastructure

# ============================================================================
# REVIEW REQUIREMENTS BY CHANGE TYPE
# ============================================================================

# CRITICAL CHANGES (require 2+ approvals):
# - _config.yml modifications
# - Default layout changes  
# - Affiliate infrastructure
# - Security-related files

# STANDARD CHANGES (require 1 approval):
# - Content updates
# - CSS styling
# - New features
# - Bug fixes

# FAST-TRACK CHANGES (can be self-approved by code owners):
# - Typo fixes
# - Minor content updates
# - Image optimizations
# - Documentation updates
