Repository ArtificialSight/earfun-audio-blog, changes with the owners that CODEOWNERS names for each.
All owners: @ArtificialSight, @content-team, @seo-team, @affiliate-team, @tech-leads, @frontend-team, @data-team, @legal-team, @design-team, @devops-team, @security-team, @performance-team

CODEOWNERS:

# Code Owners for EarFun Audio Blog
# This file defines who needs to review and approve changes to different parts of the repository.
# GitHub will automatically request reviews from the appropriate code owners when PRs are created.

# === GLOBAL DEFAULTS ===
# Default reviewers for any file that doesn't have specific owners below
* @ArtificialSight

# === CONTENT & EDITORIAL ===
# All content files (reviews, guides, pages)
*.md @ArtificialSight @content-team
*.html @ArtificialSight @content-team
reviews/ @ArtificialSight @content-team @seo-team
guides/ @ArtificialSight @content-team @seo-team
best/ @ArtificialSight @content-team @seo-team
deals/ @ArtificialSight @content-team @affiliate-team

# === TECHNICAL INFRASTRUCTURE ===
# Core Jekyll configuration and layouts
_config.yml @ArtificialSight @tech-leads
_layouts/ @ArtificialSight @tech-leads @frontend-team
_includes/ @ArtificialSight @tech-leads @frontend-team
_data/ @ArtificialSight @tech-leads @data-team

# === AFFILIATE & MONETIZATION ===
# Affiliate-related components and data
_includes/affiliate-* @ArtificialSight @affiliate-team @legal-team
_includes/product-* @ArtificialSight @affiliate-team @frontend-team
_includes/price-* @ArtificialSight @affiliate-team @data-team
_data/deals* @ArtificialSight @affiliate-team @data-team
for-brands.md @ArtificialSight @affiliate-team @legal-team

# === STYLING & DESIGN ===
# CSS and design assets
assets/css/ @ArtificialSight @frontend-team @design-team
*.css @ArtificialSight @frontend-team @design-team
assets/images/ @ArtificialSight @design-team @content-team
*.svg @ArtificialSight @design-team
*.png @ArtificialSight @design-team
*.jpg @ArtificialSight @design-team

# === SEO & ANALYTICS ===
# SEO-critical files require SEO team approval
index.html @ArtificialSight @seo-team @content-team
404.html @ArtificialSight @seo-team @frontend-team
_includes/schema* @ArtificialSight @seo-team @tech-leads

# === AUTOMATION & CI ===
# GitHub workflows and automation
.github/ @ArtificialSight @tech-leads @devops-team
*.yml @ArtificialSight @tech-leads
*.yaml @ArtificialSight @tech-leads
package.json @ArtificialSight @tech-leads @frontend-team
Gemfile* @ArtificialSight @tech-leads

# === DOCUMENTATION & GOVERNANCE ===
# Project governance and documentation
README.md @ArtificialSight @tech-leads @content-team
CONTRIBUTING.md @ArtificialSight @tech-leads @content-team
CODEOWNERS @ArtificialSight @tech-leads

# === SECURITY & COMPLIANCE ===
# Security-sensitive files
.github/workflows/ @ArtificialSight @tech-leads @security-team
_config.yml @ArtificialSight @tech-leads @security-team
contact* @ArtificialSight @legal-team @content-team

# === PERFORMANCE CRITICAL ===
# Files that significantly impact site performance
_layouts/default.html @ArtificialSight @tech-leads @performance-team
assets/css/main.css @ArtificialSight @frontend-team @performance-team

# ============================================================================
# TEAM DEFINITIONS & RESPONSIBILITIES
# ============================================================================

# @tech-leads - Senior developers, technical architecture decisions
# @frontend-team - HTML/CSS/JS, user interface, responsive design
# @content-team - Editorial content, product reviews, writing quality
# @seo-team - Search optimization, structured data, meta tags
# @affiliate-team - Monetization strategy, affiliate links, conversion optimization
# @design-team - Visual design, branding, images, user experience
# @data-team - Data files, product information, pricing, availability
# @legal-team - Compliance, disclosures, terms, privacy
# @security-team - Security reviews, vulnerability management
# @performance-team - Site speed, Core Web Vitals, optimization
# @devops-team - CI/CD, deployment, infrastructure

# ============================================================================
# REVIEW REQUIREMENTS BY CHANGE TYPE
# ============================================================================

# CRITICAL CHANGES (require 2+ approvals):
# - _config.yml modifications
# - Default layout changes  
# - Affiliate infrastructure
# - Security-related files

# STANDARD CHANGES (require 1 approval):
# - Content updates
# - CSS styling
# - New features
# - Bug fixes

# FAST-TRACK CHANGES (can be self-approved by code owners):
# - Typo fixes
# - Minor content updates
# - Image optimizations
# - Documentation updates

Create DEVELOPER_NOTES.md
  DEVELOPER_NOTES.md
Owners: @ArtificialSight, @content-team

Create LICENSE
  LICENSE
Owners: @ArtificialSight

Add comprehensive .gitignore file Includes Jekyll, Ruby, Node.js, OS files, IDE configs, and affiliate-specific exclusions for better project organization and security.Create .gitignore
  .gitignore
Owners: @ArtificialSight

Enhance styles.css with high-end retailer aestheticEnhance styles.css with high-end retailer aestheticUpdate styles.css
  styles.css
Owners: @ArtificialSight, @frontend-team, @design-team

Premium Dark Mode Overhaul: Electric Blue & Emerald AccentsPremium Dark Mode Overhaul: Electric Blue & Emerald AccentsPremium Dark Mode Overhaul: Electric Blue & Emerald AccentsUpdate styles.css
  styles.css
Owners: @ArtificialSight, @frontend-team, @design-team

Enhanced visual depth with premium audio brand design elementsUpdate and rename styles.css to styles.cssstyles.cssstyles.css
  styles.css
  styles.cssstyles.cssstyles.css
Owners: @ArtificialSight, @frontend-team, @design-team

Fix CSS linking and background display issuesUpdate default.html
  _layouts/default.html
Owners: @ArtificialSight, @tech-leads, @performance-team

Fix missing product images and improve homepage structureUpdate index.html
  index.html
Owners: @ArtificialSight, @seo-team, @content-team

🚀 Add GitHub Actions workflow for project automationCreate issue-sync.yml
  .github/workflows/issue-sync.yml
Owners: @ArtificialSight, @tech-leads, @security-team

Create privacy-policy.md
  privacy-policy.md
Owners: @ArtificialSight, @content-team

Create terms-of-use.md
  terms-of-use.md
Owners: @ArtificialSight, @content-team

Create social-proof-badges.html
  _includes/social-proof-badges.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

Create enhanced-faq-section.html
  _includes/enhanced-faq-section.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

Create site-audit-checker.rb
  site-audit-checker.rb
Owners: @ArtificialSight

feat(affiliate): Add affiliate CTAs and deal alerts to homepageUpdate index.html
  index.html
Owners: @ArtificialSight, @seo-team, @content-team

feat(affiliate): Transform deals page with comprehensive affiliate CTAsUpdate index.md
  deals/index.md
Owners: @ArtificialSight, @content-team, @affiliate-team

feat(affiliate): Add deal alert box and enhanced CTAs to Air Pro 4 reviewUpdate earfun-air-pro-4.md
  reviews/earfun-air-pro-4.md
Owners: @ArtificialSight, @content-team, @seo-team

feat(affiliate): launch affiliate CTAs, disclosures, and /deals page for revenue ramp-upUpdate earfun-free-pro-3.md
  reviews/earfun-free-pro-3.md
Owners: @ArtificialSight, @content-team, @seo-team

Create comparison-table.html
  _includes/comparison-table.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

Create email-capture.html
  _includes/email-capture.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

Create customer-testimonials.html
  _includes/customer-testimonials.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

Create testimonials-carousel.html
  _includes/testimonials-carousel.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

Update default layout: Add affiliate disclosure and social proof positioningUpdate default.html
  _layouts/default.html
Owners: @ArtificialSight, @tech-leads, @performance-team

feat(trust): Create comprehensive As Seen On bar with trust badgesCreate as-seen-on-bar.html
  _includes/as-seen-on-bar.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

Create advanced-badges.html
  _includes/advanced-badges.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

Create rotating-endorsements.html
  _includes/rotating-endorsements.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

Improve accessibility for social proof badgesImprove accessibility for social proof badgesUpdate social-proof-badges.html
  _includes/social-proof-badges.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

Fix and improve social proof badges with authentic sources and fallbacksUpdate social-proof-badges.html
  _includes/social-proof-badges.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

Finalize social proof badge with uploaded assetFinalize social proof badge with uploaded assetUpdate social-proof-badges.html
  _includes/social-proof-badges.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

Finalize social proof badge with uploaded assetUpdate as-seen-on-bar.html
  _includes/as-seen-on-bar.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

Fix: EarFun UBOOM X image with official uploaded asset sitewide.Fix: EarFun UBOOM X image with official uploaded asset sitewide.Update earfun-uboom-x.html
  earfun-uboom-x.html
Owners: @ArtificialSight, @content-team

Fix: EarFun UBOOM X image with official uploaded asset sitewide.Update index.html
  index.html
Owners: @ArtificialSight, @seo-team, @content-team

Fix: EarFun UBOOM X image with official uploaded asset sitewide.Update earfun-headphones-and-speakers.md
  best/earfun-headphones-and-speakers.md
Owners: @ArtificialSight, @content-team, @seo-team

Bugfix: ensure EarFun UBOOM X image renders on product comparison and homepageBugfix: ensure EarFun UBOOM X image renders on product comparison and homepageUpdate earfun-uboom-x.html
  earfun-uboom-x.html
Owners: @ArtificialSight, @content-team

Update EarFun Tune Pro image with official asset.
  assets/EarfunTunePro.jpg
Owners: @ArtificialSight, @design-team

Add official EarFun Tune Pro image to product pageUpdate EarFun Tune Pro product page with official imageUpdate EarFun Tune Pro product page with official imageUpdate earfun-tune-pro.html
  earfun-tune-pro.html
Owners: @ArtificialSight, @content-team

Update homepage with EarFun Tune Pro official imageUpdate index.html
  index.html
Owners: @ArtificialSight, @seo-team, @content-team

Update reviews page with EarFun Tune Pro official imageUpdate reviews.md
  reviews.md
Owners: @ArtificialSight, @content-team

Install jekyll-seo-tag, enable SEO meta/canonical in layoutInstall jekyll-seo-tag, enable SEO meta/canonical in layoutUpdate default.html
  _layouts/default.html
Owners: @ArtificialSight, @tech-leads, @performance-team

fix(nav): remove duplicate Dealsfix(nav): remove duplicate DealsUpdate _config.yml
  _config.yml
Owners: @ArtificialSight, @tech-leads, @security-team
