Repository ArtificialSight/earfun-audio-blog, changes with the owners that CODEOWNERS names for each.
All owners: @ArtificialSight, @content-team, @seo-team, @affiliate-team, @tech-leads, @frontend-team, @data-team, @legal-team, @design-team, @devops-team, @security-team, @performance-team

fix(guides): convert internal links to use relative_url and fix malformed linkfix(guides): convert internal links to use relative_url and fix malformed linkUpdate index.md
  guides/index.md
Owners: @ArtificialSight, @content-team, @seo-team

fix(best): convert internal links to use relative_url and fix malformed linksUpdate index.md
  best/index.md
Owners: @ArtificialSight, @content-team, @seo-team

a11y(table): add caption/thead/th scopea11y(table): add caption/thead/th scopeUpdate index.html
  index.html
Owners: @ArtificialSight, @seo-team, @content-team

feat(seo): standardize SEO, sitemap, and feed across sitefeat(seo): standardize SEO, sitemap, and feed across sitefeat(seo): standardize SEO, sitemap, and feed across siteUpdate default.html
  _layouts/default.html
Owners: @ArtificialSight, @tech-leads, @performance-team

feat(seo): add complete SEO metadata to best earbuds pageUpdate earfun-earbuds.md
  best/earfun-earbuds.md
Owners: @ArtificialSight, @content-team, @seo-team

Task 8: Secure affiliate links with rel="sponsored noopener"Update affiliate-button.html
  _includes/affiliate-button.html
Owners: @ArtificialSight, @affiliate-team, @legal-team

Task 10: Add semantic comparison tableUpdate index.html
  index.html
Owners: @ArtificialSight, @seo-team, @content-team

Task 12: Add Product & Review JSON-LD markupUpdate post.html
  _layouts/post.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

Task 13: Enhance 404.html with accessibility featuresUpdate 404.html
  404.html
Owners: @ArtificialSight, @seo-team, @frontend-team

feat: create affiliate link audit scriptfeat: add comprehensive affiliate link audit scriptfeat: add comprehensive affiliate link audit scriptCreate audit-affiliate-links.rb
  audit-affiliate-links.rb
Owners: @ArtificialSight

seo(a11y): add noopener to affiliate button templateseo(a11y): add noopener to affiliate button templateUpdate affiliate-button.html
  _includes/affiliate-button.html
Owners: @ArtificialSight, @affiliate-team, @legal-team

a11y(table): add caption/thead/th scope and semantic table markup for product comparisona11y(table): add caption/thead/th scope and semantic table markup for product comparisonUpdate index.html
  index.html
Owners: @ArtificialSight, @seo-team, @content-team

fix(404): ensure helpful branded 404 page with working linksfix(404): ensure helpful branded 404 page with working linksUpdate 404.html
  404.html
Owners: @ArtificialSight, @seo-team, @frontend-team

seo: add/lint footer RSS link for discoverability and subscriptions.Create footer.html
  _includes/footer.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

security: obfuscate visible email addresses to reduce spamsecurity: obfuscate visible email addresses to reduce spamUpdate footer.html
  _includes/footer.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

security: obfuscate contact page email addresses to reduce spamUpdate contact.mdcontact.md
  contact.mdcontact.md
Owners: @ArtificialSight, @legal-team, @content-team

feat(deals): add freshness metadata and disclaimer via front matterfeat(deals): add freshness metadata and disclaimer via front matterUpdate index.md
  deals/index.md
Owners: @ArtificialSight, @content-team, @affiliate-team

refactor(data): centralize product card data using products.ymlrefactor(data): centralize product card data using products.ymlCreate products.yml
  _data/products.yml
Owners: @ArtificialSight, @tech-leads

refactor(data): centralize product card data using products.ymlUpdate index.md
  deals/index.md
Owners: @ArtificialSight, @content-team, @affiliate-team

feat(newsletter): implement working email subscription form in footerfeat(newsletter): implement working email subscription form in footerUpdate index.md
  deals/index.md
Owners: @ArtificialSight, @content-team, @affiliate-team

feat(design): Phase A - Brand Foundation & Color Systemfeat(design): Phase A - Brand Foundation & Color SystemCreate brand.scss
  _sass/brand.scss
Owners: @ArtificialSight

Fix build error: Add missing faq-accordion.html componentFix: Create missing faq-accordion.html include componentFix: Create missing faq-accordion.html include componentCreate faq-accordion.html
  _includes/faq-accordion.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

Task 7: Add robots.txt pointing to sitemap.xmlCreate robots.txt
  robots.txt
Owners: @ArtificialSight

Rewrite index.md with clean Jekyll markdown structureRewrite index.md with clean Jekyll markdown structureUpdate index.md
  deals/index.md
Owners: @ArtificialSight, @content-team, @affiliate-team

feat: add faq-accordion include component to resolve build errorfeat: add faq-accordion include component to resolve build errorCreate faq-accordion.html
  _includes/faq-accordion.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

fix: simplify faq-accordion.html to resolve Liquid nesting errorUpdate faq-accordion.html
  _includes/faq-accordion.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

Restructure index.md with clean Jekyll markdown formattingUpdate index.md
  deals/index.md
Owners: @ArtificialSight, @content-team, @affiliate-team

feat: add structured-data/faq.html JSON-LD include for FAQ schema markupfeat: add structured-data/faq.html JSON-LD include for FAQ schema markupCreate faq.html
  _includes/structured-data/faq.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

fix(nav): remove duplicate Dealsfix(nav): remove duplicate DealsUpdate default.html
  _layouts/default.html
Owners: @ArtificialSight, @tech-leads, @performance-team

feat(layout): add review.html layout for product reviewsCreate review.html
  _layouts/review.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

fix(contact): correct press kit URL and add press-kit pageUpdate contact.mdcontact.md
  contact.mdcontact.md
Owners: @ArtificialSight, @legal-team, @content-team

fix(press-kit): update press-kit/index.md with proper asset linksUpdate index.md
  press-kit/index.md
Owners: @ArtificialSight, @content-team

feat: add structured-data/product.html JSON-LD include for Product schema markupfeat: add structured-data/product.html JSON-LD include for Product schema markupCreate product.html
  _includes/structured-data/product.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

fix(for-brands): change Contact Us button to use relative_urlfix(for-brands): change Contact Us button to use relative_urlUpdate for-brands.md
  for-brands.md
Owners: @ArtificialSight, @affiliate-team, @legal-team

feat(best): create hub page index.md with proper liquid syntaxCreate index.md
  best/index.md
Owners: @ArtificialSight, @content-team, @seo-team

feat(guides): create hub page index.md with proper liquid syntaxCreate index.md
  guides/index.md
Owners: @ArtificialSight, @content-team, @seo-team

feat: add breadcrumb JSON-LD structured data includeCreate breadcrumb.html
  _includes/structured-data/breadcrumb.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

feat: enhance default layout with structured data integrationUpdate default.html
  _layouts/default.html
Owners: @ArtificialSight, @tech-leads, @performance-team

Update for-brands.md
  for-brands.md
Owners: @ArtificialSight, @affiliate-team, @legal-team

Fix Guides breadcrumb to use baseurl-aware link.Fix Guides breadcrumb to use baseurl-aware link.Create breadcrumb-nav.html
  _includes/breadcrumb-nav.html
Owners: @ArtificialSight, @tech-leads, @frontend-team

CODEOWNERS:

# Code Owners for EarFun Audio Blog
# This file defines who needs to review and approve changes to different parts of the repository.
# GitHub will automatically request reviews from the appropriate code owners when PRs are created.

# === GLOBAL DEFAULTS ===
# Default reviewers for any file that doesn't have specific owners below
* @ArtificialSight

# === CONTENT & EDITORIAL ===
# All content files (reviews, guides, pages)
*.md @ArtificialSight @content-team
*.html @ArtificialSight @content-team
reviews/ @ArtificialSight @content-team @seo-team
guides/ @ArtificialSight @content-team @seo-team
best/ @ArtificialSight @content-team @seo-team
deals/ @ArtificialSight @content-team @affiliate-team

# === TECHNICAL INFRASTRUCTURE ===
# Core Jekyll configuration and layouts
_config.yml @ArtificialSight @tech-leads
_layouts/ @ArtificialSight @tech-leads @frontend-team
_includes/ @ArtificialSight @tech-leads @frontend-team
_data/ @ArtificialSight @tech-leads @data-team

# === AFFILIATE & MONETIZATION ===
# Affiliate-related components and data
_includes/affiliate-* @ArtificialSight @affiliate-team @legal-team
_includes/product-* @ArtificialSight @affiliate-team @frontend-team
_includes/price-* @ArtificialSight @affiliate-team @data-team
_data/deals* @ArtificialSight @affiliate-team @data-team
for-brands.md @ArtificialSight @affiliate-team @legal-team

# === STYLING & DESIGN ===
# CSS and design assets
assets/css/ @ArtificialSight @frontend-team @design-team
*.css @ArtificialSight @frontend-team @design-team
assets/images/ @ArtificialSight @design-team @content-team
*.svg @ArtificialSight @design-team
*.png @ArtificialSight @design-team
*.jpg @ArtificialSight @design-team

# === SEO & ANALYTICS ===
# SEO-critical files require SEO team approval
index.html @ArtificialSight @seo-team @content-team
404.html @ArtificialSight @seo-team @frontend-team
_includes/schema* @ArtificialSight @seo-team @tech-leads

# === AUTOMATION & CI ===
# GitHub workflows and automation
.github/ @ArtificialSight @tech-leads @devops-team
*.yml @ArtificialSight @tech-leads
*.yaml @ArtificialSight @tech-leads
package.json @ArtificialSight @tech-leads @frontend-team
Gemfile* @ArtificialSight @tech-leads

# === DOCUMENTATION & GOVERNANCE ===
# Project governance and documentation
README.md @ArtificialSight @tech-leads @content-team
CONTRIBUTING.md @ArtificialSight @tech-leads @content-team
CODEOWNERS @ArtificialSight @tech-leads

# === SECURITY & COMPLIANCE ===
# Security-sensitive files
.github/workflows/ @ArtificialSight @tech-leads @security-team
_config.yml @ArtificialSight @tech-leads @security-team
contact* @ArtificialSight @legal-team @content-team

# === PERFORMANCE CRITICAL ===
# Files that significantly impact site performance
_layouts/default.html @ArtificialSight @tech-leads @performance-team
assets/css/main.css @ArtificialSight @frontend-team @performance-team

# ============================================================================
# TEAM DEFINITIONS & RESPONSIBILITIES
# ============================================================================

# @tech-leads - Senior developers, technical architecture decisions
# @frontend-team - HTML/CSS/JS, user interface, responsive design
# @content-team - Editorial content, product reviews, writing quality
# @seo-team - Search optimization, structured data, meta tags
# @affiliate-team - Monetization strategy, affiliate links, conversion optimization
# @design-team - Visual design, branding, images, user experience
# @data-team - Data files, product information, pricing, availability
# @legal-team - Compliance, disclosures, terms, privacy
# @security-team - Security reviews, vulnerability management
# @performance-team - Site speed, Core Web Vitals, optimization
# @devops-team - CI/CD, deployment, infrastructure

# ============================================================================
# REVIEW REQUIREMENTS BY CHANGE TYPE
# ============================================================================

# CRITICAL CHANGES (require 2+ approvals):
# - _config.yml modifications
# - Default layout changes  
# - Affiliate infrastructure
# - Security-related files

# STANDARD CHANGES (require 1 approval):
# - Content updates
# - CSS styling
# - New features
# - Bug fixes

# FAST-TRACK CHANGES (can be self-approved by code owners):
# - Typo fixes
# - Minor content updates
# - Image optimizations
# - Documentation updates
